@mixin boxShadowHelper($level: 1, $shadow-color: 0){
  @if $level == 1 {
  box-shadow: 0 1px 3px rgba($shadow-color, $shadow-color, $shadow-color,0.12), 0 1px 2px rgba($shadow-color, $shadow-color, $shadow-color,0.24);
}
  @if ($level == 2) {
  box-shadow: 0 3px 6px rgba($shadow-color, $shadow-color, $shadow-color,0.16), 0 3px 6px rgba($shadow-color, $shadow-color, $shadow-color,0.23);
}
  @if ($level == 3) {
  box-shadow: 0 10px 20px rgba($shadow-color, $shadow-color, $shadow-color,0.19), 0 6px 6px rgba($shadow-color, $shadow-color, $shadow-color,0.23);
}
  @if ($level == 4) {
  box-shadow: 0 14px 28px rgba($shadow-color, $shadow-color, $shadow-color,0.25), 0 10px 10px rgba($shadow-color, $shadow-color, $shadow-color,0.22);
}
  @if ($level == 5) {
  box-shadow: 0 19px 38px rgba($shadow-color, $shadow-color, $shadow-color,0.30), 0 15px 12px rgba($shadow-color, $shadow-color, $shadow-color,0.22);
}
}
