$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #0066cc !default;
$calm: #0099cc !default;
$balanced: #cccc66 !default;
$energized: #ffcc33 !default;
$assertive: #cc6633 !default;
$royal: #996699 !default;
$dark: #666 !default;
$citrus: #F3F315;
$label: $stable;
// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;
$loading-bg-color: transparent !default;
// Include all of Ionic
$button-energized-text: $dark;
$button-balanced-text: $dark;
